* {
    box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: rgb(143, 44, 90);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(143, 44, 90);
    opacity: 0.7;
}

.logo {
    color:  rgb(143, 44, 90);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-left: 60px;
}

.container {
    width: 100%;
}

section {
    align-items: center;
}

.col-sm-5 .center {
    display: block;
    margin: auto;
    padding-top: 3rem;
    width: 60%;
}

.card h1 {
    color: rgb(143, 44, 90);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.col-sm-4 {
    padding: 7px;
}

.nav-item {
    float: right;
}

.card-img-top {
    border-top:  1px solid rgba(0,0,0,.125);
    border-bottom:  1px solid rgba(0,0,0,.125);
}

#intro {
    padding-bottom: 20px;
}

#greeting {
    color:  rgb(190, 100, 142);
}

#contact {
    color:  rgb(190, 100, 142);
    font-size: 30px;
    margin-left: 10px;
}

#sendButton {
    background-color:  rgb(190, 100, 142);
    border: none;
    box-shadow: none;
}

label {
    color: rgb(190, 100, 142);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 0rem;
}

button:hover {
    opacity: 0.7;
}

#linkedin {
    margin: 10px;
}

#github {
    margin: 10px;
}

#resume {
    margin: 10px;
}

.fa-file-pdf-o {
    color: rgba(199, 29, 108, 0.87);
}

.fa-file-pdf-o:hover {
    color: rgba(199, 29, 108, 0.87);
    opacity: 0.7;
}

.fa-linkedin {
    color:#007bb5;
}

.fa-linkedin:hover {
    color:#007bb5;
    opacity: 0.7;
}

.fa-github {
    color: rgba(0, 0, 0, 0.76);
}

.fa-github:hover {
    color: rgba(0, 0, 0, 0.76);
    opacity: 0.7;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    font-weight: lighter;
}

footer {
    text-align: center;
}

#emailPhone {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#contactInfo {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
    margin-bottom: 5px;
}

#phoneRow {
    margin-top: 20px;
}
