* {
    box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: rgb(143, 44, 90);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.logo {
    color:  rgb(143, 44, 90);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-left: 60px;
}

.container {
    width: 100%;
}

section {
    align-items: center;
}

.col-sm-5 .center {
    display: block;
    margin: auto;
    padding-top: 3rem;
    width: 60%;
}

.card h1 {
    color: rgb(143, 44, 90);
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.col-sm-4 {
    padding: 7px;
}

.linkedin {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 120px;
    height: 100px;
}

.nav-item {
    float: right;
}

#intro {
    padding-bottom: 20px;
}

#greeting {
    color:  rgb(190, 100, 142);
}

#contact {
    color:  rgb(190, 100, 142);
    font-size: 25px;
    margin-left: 15px;
}

#linkedinC {
    margin: 10px;
}

#githubC {
    margin: 10px;
}

.fa:hover {
    opacity: 0.6;
}

.fa-linkedin {
    color:#007bb5;
}

.fa-github {
    color: black;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    font-weight: lighter;
}

footer {
    text-align: center;
}
